@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

section {
    padding: 100px;
}

/* =============HEADER============= */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
    background-color: transparent;
}

header.sticky {
    backdrop-filter: blur(20px);
    padding: 20px 100px;
    box-shadow: 0 5px 20px black;
}

header .logo {
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
}

header.sticky .logo {
    color: rgb(0, 0, 0);
}

header.sticky ul li a {
    color: rgb(0, 217, 255);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* =============VIDEO============= */

.home {
    position: relative;
    width: 100%;
    min-height: 85vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #2696E9;
}

.home:before {
    z-index: 777;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .content {
    z-index: 888;
    color: #fff;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active {
    display: block;
}

.home .content h1 {
    font-size: 4em;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75px;
    margin-bottom: 40px;
}

.home .content h1 span {
    font-size: 1.2em;
    font-weight: 600;
}

.home .content p {
    margin-bottom: 65px;
}

.home .content a {
    background: #fff;
    padding: 15px 35px;
    color: #000000;
    font-size: 1.1em;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.home .content a:hover {
    background: black;
    color: white;
    box-shadow: 0 0 50px white;
}

.home .media-icons {
    z-index: 888;
    position: absolute;
    right: 30px;
    display: flex;
    flex-direction: column;
    transition: 0.5s ease;
}

.home .media-icons a {
    color: #fff;
    font-size: 1.6em;
    transition: 0.3s ease;
}

.home .media-icons a:not(:last-child) {
    margin-bottom: 20px;
}

.home .media-icons a:nth-child(1):hover {
    color: #3b5998;
}

.home .media-icons a:nth-child(2):hover {
    color: #8a3ab9;
}

.home .media-icons a:nth-child(3):hover {
    color: red;
}

.home .media-icons a:nth-child(4):hover {
    color: rgb(2, 163, 163);
}

.home .media-icons a:hover {
    transform: scale(1.3);
}

.home video {
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slider-navigation {
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.slider-navigation .nav-btn {
    width: 12px;
    height: 12px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
    background: #000000;
}

.slider-navigation .nav-btn:not(:last-child) {
    margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
    transform: scale(1.2);
}

.video-slide {
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.video-slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}



/* =============HEADING============= */

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;

}

.heading h2 {
    font-weight: 600;
    font-size: 30px;
}

.content {
    display: flex;
    justify-content: space-between;
    color: rgb(0, 0, 0);
}

.contentBx {
    padding-right: 30px;
}

.contentBx h3 {
    font-size: 24px;
    margin-bottom: 5px;
}


/* =============CARROUSSEL============= */

.containerproje {
    position: relative;
}

.containerproje .slide-container .slide {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px 9%;
    padding-bottom: 70px;
}

.containerproje .slide-container .slide .contentproje {
    flex: 1 1 350px;
    animation: slideContent .4s linear .4s backwards;
}

@keyframes slideContent {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }
}


.containerproje .slide-container .slide .contentproje h3 {
    font-size: 35px;
    color: #ffffff;
}

.containerproje .slide-container .slide .contentproje p {
    font-size: 16px;
    color: #ffffff;
    width: 40%;
    height: 10%;

}

.containerproje .slide-container .slide .contentproje .bntproj {
    margin-top: 10px;
    display: inline-block;
    background: #ffffff;
    color: #000000;
    font-size: 17px;
    padding: 9px 40px;
    border-radius: 5px;
    text-decoration: none;
}

.containerproje .slide-container .slide .contentproje .bntproj:hover {
    background: #000000;
    color: #ffffff;
    box-shadow: 0 0 50px white;
}

.containerproje .slide-container {
    display: none;
}

.containerproje .slide-container.active {
    display: block;
}

.containerproje .slide-container:nth-child(1) .slide {
    background: url(images/iphone13.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98.5vw;
    height: 120vh;
    position: relative;
    top: 100px;
    right: 100px
}

.containerproje .slide-container:nth-child(2) .slide {
    background: url(images/5G.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98.5vw;
    height: 120vh;
    position: relative;
    top: 100px;
    right: 100px
}

.containerproje .slide-container:nth-child(3) .slide {
    background: url(images/mundo5.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98.5vw;
    height: 120vh;
    position: relative;
    top: 100px;
    right: 100px
}

.containerproje .slide-container:nth-child(4) .slide {
    background: url(images/iphone-barato.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98.5vw;
    height: 120vh;
    position: relative;
    top: 100px;
    right: 100px
}

.containerproje .slide-container:nth-child(5) .slide {
    background: url(images/metaverso.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 98.5vw;
    height: 120vh;
    position: relative;
    top: 100px;
    right: 100px
}

.containerproje #prev,
.containerproje #next {
    position: absolute;
    top: 60%;
    transform: translateY(-50%);
    color: #000000;
    background: #ffffff;
    height: 50px;
    width: 50px;
    line-height: 50px;
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    font-weight: bolder;
    border-radius: 50px;
}

.containerproje #prev:hover,
.containerproje #next:hover {
    background: #000000;
    color: rgb(255, 255, 255);
}

.containerproje #prev {
    left: 20px;
}

.containerproje #next {
    right: 20px;
}


/* =============COMPARTILHE ESTÁ PÁGINA============= */

.midiaS {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
    bottom: 30px;
    padding: 30px;
    text-transform: uppercase;
}

.midiaS a {
    color: black;
    margin: 10px;
    padding: 30px;
}

.midiaS a i {
    font-size: 1.6em;
}

.midiaS a:nth-child(3):hover {
    color: #3b5998;
}

.midiaS a:nth-child(4):hover {
    color: #8a3ab9;
}

.midiaS a:nth-child(5):hover {
    color: red;
}

.midiaS a:nth-child(6):hover {
    color: rgb(2, 163, 163);
}


/* =============FOOTER============= */

footer {
    width: 100%;
    min-height: 250px;
    background: #141414;
    display: flex;
}

footer .boxs {
    width: 320px;
    min-height: 150px;
    padding: 20px;
}

.footer .boxs:nth-child(4) {
    width: 400px;
}

.boxs h2 {
    color: #fff;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.boxs ul li {
    margin: 10px 0px;
    list-style: none;
}

.boxs ul li a {
    color: #ddd;
    text-decoration: none;
}

.boxs ul li a:hover {
    color: #fff;
}

.boxs p {
    color: #fff;
}

/* --------RESPOSIVO --------------*/

@media screen and (max-width: 400px) {
    header {
        width: 100%;
    }

}


@media(max-width: 500px) {
    .containerproje #prev {
        left: 0px;
        top: 60%;
    }

    .containerproje #next {
        right: 0px;
        top: 60%;
    }


    .containerproje .slide-container .slide .contentproje p {
        font-size: 16px;
        color: #ffffff;
        width: 100%;

    }
}